<div class= "block">
  <%= image_tag "puce-v5.png", class: "puce" %>
  <h4>Mes informations personnelles</h4>
  <div class="row">
    <div class="col-sm-7">
      <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
          <%= f.input :firstname, label: "Prénom", required: true %>
          <%= f.input :lastname, label: "Nom", required: true %>
          <%= f.input :email, required: true %>
          <%= f.input :phone, label: "Téléphone", class: "telinput", required: true %>
          <%= f.input :birth, label: "Date de naissance", as: :date, start_year: Date.today.year - 90,end_year: Date.today.year, discard_day: false,order: [ :day, :month, :year  ], required: true %>
          <%= f.input :adress, label: "Adresse", as: :text, required: true %>
    </div>
      <div class="col-sm-5">
          <div class= "bubble"><%= @form_info.description %></div>
          <div class="bubble2"></div>
          <%= image_tag @form_info.picture, class: "full" %>
      </div>
  </div>
</div>
<!-- ========== FORM COURSE ========== -->
<div class= "block">
  <%= image_tag "puce-v5.png", class: "puce" %>
  <h4>Mes cours</h4>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
          <%= f.association :courses, collection: Course.where(visible: true), as: :check_boxes, label: "Cochez les cours qui vous intéressent", disabled: @disabled_courses %>
          <%= f.association :timeslots, collection: Timeslot.where(visible: true),as: :check_boxes, label: "Indiquez vos disponibilités :", disabled: @disabled_timeslots %>
    </div>
  </div>
</div>
<!-- ========== FORM STAGES ========== -->
<div class= "block">
  <%= image_tag "puce-v5.png", class: "puce" %>
  <h4>Mes stages</h4>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
          <%= f.association :stages, as: :check_boxes, label: "Cochez les stages qui vous intéressent", disabled: @disabled_stages %>
    </div>
  </div>
</div>
<!-- ========== FORM SOURCE ========== -->
<div class= "block">
  <%= image_tag "puce-v5.png", class: "puce" %>
  <h4>Comment avez-vous connu Virtual Art ?</h4>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
          <%= f.input :source, label: "Par un ami, internet, en me promenant dans Toulouse..." %>
    </div>
  </div>
</div>
<!-- ========== Envoyer ========== -->
<div class= "block">
  <%= image_tag "puce-v5.png", class: "puce" %>
  <h4>Je vous contacterai dès réception !</h4>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
          <%= f.submit class: "inscription", id:"profilesave", value: "Envoyer le formulaire"%>
      <% end %>
    </div>
  </div>
</div>
