<!-- ========== LARGE SCREEN LOGIN OR NOT ========== -->
<% if user_signed_in? %>
  <!-- Profile picture and dropdown -->
  <div class="navbar-virtualart-item hidden-xs hidden-sm">
    <div class="dropdown">
      <a data-toggle="dropdown" class="navbar-login"><%= current_user.email %></a>
      <ul class="dropdown-menu dropdown-menu-right navbar-login-dropdown-menu">
        <% if current_user && current_user.admin %>
          <li>
            <%= link_to rails_admin_path do %>
              <%= t(".sign_in", default: "Admin") %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to("Formulaire d'inscription", edit_user_path(current_user)) %>
        </li>
        <li>
          <%= link_to("Mes inscriptions", user_path(current_user)) %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            </i>  <%= t(".sign_out", default: "Déconnexion") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <!-- Login text link -->
  <%= link_to "Connexion / Inscription", new_user_session_path, class: "navbar-login hidden-xs hidden-sm" %>
<% end %>


<!-- ========== MOBILE LOGIN OR NOT ========== -->
<% if user_signed_in? %>
  <!-- Profile picture and dropdown -->
  <div class="navbar-virtualart-item hidden-md hidden-lg">
    <div class="dropdown">
      <a data-toggle="dropdown" class="navbar-login-mobile"><%= current_user.email %></a>
      <ul class="dropdown-menu dropdown-menu-right navbar-login-dropdown-menu" id= "dropdown-login-mobile">
        <% if current_user && current_user.admin %>
          <li>
            <%= link_to rails_admin_path do %>
              <%= t(".sign_in", default: "Admin") %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to("Formulaire d'inscription", edit_user_path(current_user)) %>
        </li>
        <li>
          <%= link_to("Mes inscriptions", user_path(current_user)) %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            </i>  <%= t(".sign_out", default: "Déconnexion") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <!-- Login text link -->
  <%= link_to "Connexion / Inscription", new_user_session_path, class: "navbar-login-mobile hidden-md hidden-lg" %>
<% end %>


<!-- ========== LARGE SCREEN ========== -->

<div class="navbar-virtualart">
  <!-- ===== RESPONSIVE ===== -->
  <div class="navbar-virtualart-right hidden-xs hidden-sm">
    <!-- ===== LOGO ===== -->
    <%= link_to root_path do %>
      <%= image_tag "logovirtualart-v3.png", class: "navbar-logo" %>
    <% end %>
    <!-- ===== LIENS ===== -->
    <%= link_to "Accueil", root_path, class: "navbar-link #{@menu_accueil}" %>
    <%= link_to "Cours", courses_path, class: "navbar-link #{@menu_cours}"  %>
    <%= link_to "Stages", stages_path, class: "navbar-link #{@menu_stages}"  %>
    <%= link_to "Réalisations", realisations_path, class: "navbar-link #{@menu_realisations}"  %>
    <div class="dropdown">
      <a data-toggle="dropdown" class="navbar-link <%= @menu_videos %>">Vidéos</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-virtualart-dropdown-menu">
      <% @courses = Course.where(visible: true) %>
        <% @courses.each do |course| %>
          <li>
            <%= link_to(course.title, course_path(course)) %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= link_to "Contact", contact_path, class: "navbar-link #{@menu_contact}" %>
    <%= link_to "Tarifs", tarifs_path, class: "navbar-link #{@menu_tarifs}" %>
  </div>

  <!-- ========== MOBILE ONLY ========== -->

  <div class="navbar-virtualart-item hidden-md hidden-lg">
    <div class="dropdown">
    <% if Block.where(tag: "logo_xs").present? && Block.find_by(tag: "logo_xs").visible %>
      <i class="dropdown-toggle" data-toggle="dropdown">
        <%= link_to root_path do %>
        <%= image_tag Block.find_by(tag: "logo_xs").picture, class: "navbar-logo-xs" %>
        <% end %>
      </i>
    <% else %>
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown">
      </i>
  <% end %>
      <ul class="dropdown-menu dropdown-menu-right navbar-virtualart-dropdown-menu">
        <li><%= link_to "Accueil", root_path, class: "navbar-link" %></li>
        <li><%= link_to "Cours / Vidéos", courses_path, class: "navbar-link"  %></li>
        <li><%= link_to "Stages", stages_path, class: "navbar-link"  %></li>
        <li><%= link_to "Réalisations", realisations_path, class: "navbar-link"  %></li>
        <li><%= link_to "Contact", contact_path, class: "navbar-link" %></li>
        <li><%= link_to "Tarifs", tarifs_path, class: "navbar-link" %></li>
      </ul>
    </div>
  </div>
</div>
