<!-- =============== ROW & CONTAINER =============== -->
<div class="container">
  <div class="row">
    <!-- =============== VOLET GAUCHE =============== -->
    <div class="col-sm-8">
    <!-- ===== COURS GRATUIT ===== -->
    <div style= "margin-top:40px"></div>
      <% @lectures.where(order: "000").each do |free_lecture| %>
          <div style="text-align:center;margin:auto;width:80%;">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe data-dismiss="modal" src= "https://www.youtube.com/embed/<%= free_lecture.video %>" frameborder="1" allowfullscreen>
            </iframe>
          </div>
        </div>
      <% end %><br>
    <!-- ===== BLOCKS DE COURS ===== -->
      <% @courses_softwares.each do |courses_software| %>
      <div class= "block height"
        style= "background-color: rgba(<%= @course.color %>, 0.35);border-color: rgb(<%= @course.color %>);">
        <%= image_tag @course.puce, class: "puce" %>
        <h4 style= "text-shadow: 0 0 0.2em rgba(<%= @course.color %>, 0.5), 0 0 0.2em rgba(<%= @course.color %>, 0.5)"><%= courses_software.software.title %></h4>
          <% lectures = Lecture.where(course: @course).where(software: courses_software.software).where.not(order: "000").order(order: :asc) %>
            <% lectures.each do |lecture| %>
            <!-- Lien vers la modale -->
              <div class= "lecture-title">
                <%= link_to lecture_path(lecture), remote: true do %>
                  <strong class="<%= lecture.id %>">- <%= lecture.title %></strong>
                    <% UsersLecture.where(lecture: lecture).where(user: current_user).each do |users_lecture| %>
                      - <span class="block-appreciation"><%= users_lecture.note %></span>
                    <% end %><br>
                <% end %>
                <% if lecture.description.present? %>
                  <span class="lecture-infobulle hidden-xs"><%= lecture.description %></span>
                <% end %>
              </div>
              <br>
            <% end %>
            <!-- fin du lien vers la modale -->
          </div>
        <% end %>
<!-- =============== CLOSE VOLET GAUCHE =============== -->
    </div>
    <!-- =============== VOLET DROIT =============== -->
    <div class="col-sm-4">
    <div class= "big-margin hidden-xs hidden-sm"></div>
      <!-- ===== INSCRIPTION ===== -->
      <div class= "block">
      <%= image_tag "puce-v5.png", class: "puce" %>
        <h4><%= @inscription.title %></h4>
          <p><%= @inscription.description.gsub("\n", "<br/>").html_safe %></p>
          <% if current_user %>
            <%= link_to edit_user_path(current_user) do %>
            <div class= "inscription">
              Consulter le formulaire d'inscription
            </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
            <div class= "inscription">
              Créer d'abord un compte gratuit !
            </div>
            <% end %>
          <% end %>
      </div>
      <!-- ===== À PROPOS ===== -->
      <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
        <h4><%= @course.title %></h4>
        <p><%= @course.description.gsub("\n", "<br/>").html_safe %></p>
      </div>
    </div>
<!-- =============== CLOSE ROW & CONTAINER =============== -->
  </div>
</div>
<!-- -->
<!-- =============== MODALE ==================== -->
<!-- -->
<div class="modal"></div>
<!-- -->
<!-- ========== JAVASCRIPT ========== -->
<!-- -->
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    $().ready(function(){
      $('.strong').hover(function(){$(this).show();},
                       function(){$(this).remove();});
    });
    });
  <% end %>
<% end %>

